.Image{
    margin-top:-300px;
    width: 12000px;
    height: 300px;
    background-color :green;
}
.imgtext{
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100%; /* 부모 요소의 높이에 맞춤 */
    text-align: center;
}

